body {
    background-image: url("/assets/pika.jpg");
}

div{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px; /* Adjust the value as needed */
	text-align: center;
	margin: 5px;
    height: 98vh;
    margin-top: 1vh;
}